<nav class="container-fluid d-flex flex-column" id="nav">
  <div class="user-info d-flex justify-content-between align-items-center mx-2">
    <div class="user-text d-flex align-items-center w-100">
      <%= link_to group_entities_path, class: 'back-button' do %>
        <ion-icon name="arrow-back" class="settings-button"></ion-icon>
      <% end %>
    </div>
  </nav>
