<div class="container-splash">
  <span class="title">W</span>
  <span class="title">E</span>
  <span class="title">L</span>
  <span class="title">C</span>
  <span class="title">O</span>
  <span class="title">M</span>
  <span class="title">E</span>
</div>
<section class="splash">
  <h1 class="splash-title">Digital Budget Planner <hr></h1>
  <div class="splash-image"><%= image_tag 'business2.jpg', class: 'splash-illustration' %></div>
  <div class="splash-text">
    <h2 class="splash-text-title">a freeware personal finance manager.</h2>
    <p class="splash-text-description">"Becoming rich is hard. Staying broke is hard. Choose your hard."</p>
  </div>
  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="get-started"><%= button_to 'Get Started', user_session_path, class: 'get-started-button' %></div>
</section>
<section class="splash2">
  <h1 class="splash-title2">Digital Budget Planner <hr></h1>
  <div class="splash-image2"><%= image_tag 'business2.jpg', class: 'splash-illustration2' %></div>
  <div class="splash-text2">
    <h2 class="splash-text-title2">a freeware personal finance manager.</h2>
    <p class="splash-text-description2">"Becoming rich is hard. Staying broke is hard. Choose your hard."</p>
  </div>
  <div class="get-started2">
    <div class="arrow">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <%= button_to 'Get Started', user_session_path, class: 'get-started-button' %>
  </div>
</section>
